@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loader {
      @apply h-[15px] aspect-[4] grid bg-no-repeat bg-[radial-gradient(farthest-side,#000_90%,transparent)_left] bg-[radial-gradient(farthest-side,#000_90%,transparent)_right] bg-[length:25%_100%];
    }
  
    .loader:before,
    .loader:after {
      content: "";
      @apply h-[inherit] aspect-square mx-auto rounded-full;
      grid-area: 1/1;
      transform-origin: -100% 50%;
      @apply bg-black;
      animation: l49 1s infinite linear;
    }
  
    .loader:after {
      transform-origin: 200% 50%;
      --s: -1;
      animation-delay: -0.5s;
    }
  }
  
/* Estilo para el scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra */
  border-radius: 6px; /* Radio del borde */
  border: 3px solid #f1f1f1; /* Espacio entre la barra y el track */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la barra al pasar el mouse */
}

/* Para navegadores Firefox */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;





  @keyframes l49 {
    58%,
    100% {
      transform: rotate(calc(var(--s, 1) * 1turn));
    }
  }